{% extends 'calculator/base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Директор Кабинеті (Басқару және Статистика)</h2>

    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card p-3 mb-3 bg-dark-blue text-red shadow-sm">
                <h5>Барлық тапсырыстар</h5>
                <h3>{{ total_orders }}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-3 bg-dark-green text-red shadow-sm">
                <h5>Жалпы табыс</h5>
                <h3>{{ total_income }} ₸</h3>
            </div>
        </div>
    </div>

    <hr>

    <h3 class="mt-5">Барлық Тапсырыстар Журналы</h3>
<div class="table-responsive">
    <table class="table table-striped table-hover">

        <thead class="bg-brown text-white">
                <tr>
                    <th>ID</th>
                    <th>Клиент</th>
                    <th>Уақыты</th>
                    <th>Статус</th>
                    <th>Сомасы</th>
                    <th>Әрекет</th>
                </tr>
            </thead>
            <tbody>
                {% for order in all_orders %}
                <tr>
                    <td>#{{ order.id }}</td>
                    <td>{{ order.client.username }}</td>
                    <td>{{ order.created_at|date:"d.m H:i" }}</td>
                    <td>
                        <span class="badge
                            {% if order.status == 'new' %}bg-warning text-dark{% elif order.status == 'processing' %}bg-info text-dark{% elif order.status == 'delivered' %}bg-success{% elif order.status == 'canceled' %}bg-danger{% else %}bg-secondary{% endif %}">
                            {{ order.get_status_display }}
                        </span>
                    </td>
                    <td>{{ order.total_cost }} ₸</td>
                    <td>
                        {% if order.status == 'new' %}
                            <a href="{% url 'change_order_status' order.id 'processing' %}" class="btn btn-success btn-sm me-1">
                                ✅ Қабылдау
                            </a>
                        {% elif order.status == 'processing' %}
                            <a href="{% url 'change_order_status' order.id 'delivered' %}" class="btn btn-primary btn-sm me-1">
                                Жеткізілді
                            </a>
                        {% endif %}

                        {% if order.status != 'canceled' and order.status != 'delivered' %}
                            <a href="{% url 'change_order_status' order.id 'canceled' %}" class="btn btn-danger btn-sm">
                                ❌ Бас тарту
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>
    <hr>



<div class="row mt-5">

<div class="col-md-6">

<h4>Танымал тағамдар (TOP-5)</h4>

<ul class="list-group mb-4">

{% for d in popular_dishes %}

<li class="list-group-item d-flex justify-content-between align-items-center">

{{ d.name }}

<span class="badge bg-primary rounded-pill">{{ d.num_orders|default:0 }}</span>

</li>

{% endfor %}

</ul>

</div>

</div>

</div>

{% endblock %}