{% extends 'calculator/base.html' %}
{% block content %}

<div class="col-md-6 mx-auto mt-5">
    <div class="card shadow">
        <div class="card-header bg-warning text-dark">
            <h4>🔑 Құпия сөзді өзгерту</h4>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">
                    Құпия сөзді өзгерту
                </button>
            </form>
        </div>

    </div>
</div>

{% endblock %}
